.dashboard-container {
	.dashboard-wrapper {
		width: 85%;
		.activity-wrapper {
			background: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			color: black;
			padding: 20px;
			width: 45%;
			margin: 0 20px;

			.today-activity-wrapper {
				width: 100px;
				height: 100px;
				background-color: aliceblue;
				border-radius: 50%;
			}

			.green-color-dot {
				path {
					fill: green;
				}
			}
			.orange-color-dot {
				path {
					fill: orange;
				}
			}
		}
		.activity-list-wrapper {
			background: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			color: black;
			padding: 10px;
			margin: 10px;

			.img-wrapper {
				height: 50px;
				width: 50px;
			}
		}
		.line-chart-wrapper {
			background: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			margin: 0 10px 30px 20px;
		}

		.weekly-data-wrapper {
			background: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			color: black;
			padding: 20px;
			width: 45%;
			margin: 0 20px;
			.weekly-fitness-details {
				.img-wrapper {
					height: 50px;
					width: 50px;
					background-color: bisque;
					border-radius: 15px;
				}
				.btn-wrapper {
					.button-info {
						height: 40px;
						border-radius: 15px;
						padding: 0 20px;
						color: #1f9471;
						background: transparent;
						border: 1px solid #ddd;
						font-weight: 500;
					}
				}
			}
		}
		.user-title-wrapper {
			background-color: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			padding: 20px;
		}
	}
	.profile-container {
		width: 30%;
		background-color: #ffffff;
		.profile-wrapper {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: #bdbdbd;

			.profile-img {
				border-radius: 50%;
			}
		}
		.user-details {
			background: #ffffff;
			box-shadow: 0px 4px 14px rgba(98, 53, 226, 0.1);
			border-radius: 15px;
			padding: 10px;
			width: 70%;
			margin: 0 auto;
		}
	}
}
